/* Full page center */
.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.welcomeDiv{
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0 0 20px black;
    padding: 50px;
}


/* Big gradient Angular text */
.title {
  font-size: 64px;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: linear-gradient(
    90deg,
    #dd0031,
    #c3002f,
    #1976d2
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.subtitle{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
   margin-top: 10px;
   color: #002D62;
   text-align: center;
}
.footer {
  margin-top: 20px;
  /* margin-left: 300px; */
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  color: black;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
